<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/"><b>TMT</b> Admin</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Connexion</p>
      <div class="row" *ngIf="loginError">
        <div class="col-xs-12">
          <mk-alert backgroundColor="danger" [isDismissible]="false">
            <!-- <h4><i class="icon fa fa-info"></i> Identifiant ou mot de passe erroné</h4> -->
            <p class="text-center">Identifiant ou mot de passe erroné</p>
          </mk-alert>
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group has-feedback">
          <input [(ngModel)]="User.email" #email="ngModel" name="email" id="email" type="email" class="form-control" placeholder="Email" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input [(ngModel)]="User.mdp" #mdp="ngModel" name="mdp" id="mdp" type="password" class="form-control" placeholder="Password" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </div>        
        <!-- <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"></ins></div> Remember Me
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </div> -->
      </form>

      <!-- <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
          Google+</a>
      </div>
      -->
      <!-- <a href="#">I forgot my password</a><br>
      <a routerLink="/register" class="text-center">Register a new membership</a>  -->

    </div>

  </div>
</div>
